

.project-header-wrapper {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.project-header-wrapper img {
    border-radius: 50%;
    overflow: hidden;

}

.inline-figure {
    display: inline-block;
    margin: 10px; 
    vertical-align: top; 
}

.inline-figure img {
    display: block; 
    width: 12.5rem;
}


.inline-figure-wide {
    display: inline-block;
    margin: 10px; 
    vertical-align: top; 
}

.inline-figure-wide img {
    display: block; 
}





.icons-wrapper {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center; 
    align-items: center; 
}



.text-wrapper {
    text-align: center;
}

.custom-hover {
    position: relative;
}

a.custom-hover .text-wrapper {
    color: #000000;
    transition: color 0.3s ease;
}


/* Style the popup */
.popup {
    position: absolute;
    bottom:100%;
    left: 50%; 
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 8px 8px;
    border-radius: 10px; 
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    transition: opacity 0.3s ease, visibility 0.3s ease; 
    opacity: 0; 
    visibility: hidden; 
    font-size: 0.9rem;
}

.custom-hover:hover .popup {
    display: block; /* Display the popup */
    opacity: 1; /* Fully opaque */
    visibility: visible; /* Visible */
}





#embed-pdf-container {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 20vh;
    /* overflow-y:scroll; */
  }
  
  .pdf-canvas {
    border: 1px solid black;
    direction: ltr;
    width: 100%;
    height: auto;
    display: none;
  }
  
  #the-canvas {
    border: 1px solid black;
    direction: ltr;
    width: 100%;
    height: auto;
    display: none;
  }
  
  
  .pdf-loadingWrapper {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
  }
  
  .pdf-loading {
    display: none;
    width: 50px;
    height: 50px;
    border: 3px solid #d2d0d0;;
    border-radius: 50%;
    border-top-color: #383838;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  
  
  /* Resume page css */
  
  #overlayText {
    word-wrap: break-word;
    display: grid;
    justify-content: end;
  }
  
  #overlayText a {
    display:none;
    position: relative;
    top: 10px;
    right: 4px;
    color: #000;
    margin: auto;
    background-color: #eeeeee;
    padding: 0.3em 1em;
    border: solid 2px;
    border-radius: 12px;
    border-color: #00000030;
    text-decoration: none;
  }
  
  #overlayText svg {
    display:none;
    height: clamp(1em, 2vw, 1.4em);
    width:  clamp(1em, 2vw, 1.4em);
  }

  .pdf-paginator {
    display:none;
  }
  
  .download-btn {
    display:none;
  }
  